@use "../abstracts/mixins" as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        // width > 1800?
        font-size: 120%;
    }

    @include respond(tab-land) {
        // width < 1200?
        font-size: 75%;
    }

    @include respond(tab-port) {
        // width < 900?
    }

    // width < 600?
    @include respond(phone) {
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}
