body {
    font-family: "Raleway", sans-serif;
}

.heading-primary {
    font-size: 1.6rem;
}

.heading-secondary {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.heading-tertiary {
    font-size: 1.8rem;
}

.sub-content {
    font-weight: 300;
    color: #444;
    font-size: 1.12rem;
}

.section-heading {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
