@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.heading-primary{
    z-index: 2;
    font-size: 7rem;
    text-transform: uppercase;
    text-shadow: -1px 1px #000;
    text-align: center;
    
    // background-image: url(https://images.unsplash.com/photo-1486365227551-f3f90034a57c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    // background-size: cover;
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;


}

.heading-secondary{
    font-size: 3rem;
}